In [1]:
import pandas as pd
import numpy as np

In [2]:
# Sample dataset (can be CSV in real project)
data = {
    "hours_studied": [2, 4, 6, 8, 10],
    "sleep_hours": [5, 6, 7, 6, 8],
    "score": [45, 55, 65, 75, 85]
}

df = pd.DataFrame(data)
df

   hours_studied  sleep_hours  score
0              2            5     45
1              4            6     55
2              6            7     65
3              8            6     75
4             10            8     85

In [3]:
X = df[["hours_studied", "sleep_hours"]]
y = df["score"]

print("Features:")
display(X)

print("Target:")
display(y)

Features:

   hours_studied  sleep_hours
0              2            5
1              4            6
2              6            7
3              8            6
4             10            8

Target:

0    45
1    55
2    65
3    75
4    85
Name: score, dtype: int64

In [4]:
X.to_csv("X_features.csv", index=False)
y.to_csv("y_target.csv", index=False)

print("Processed data saved successfully!")

Processed data saved successfully!